body {
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #0a1228;
}
:hover::-webkit-scrollbar-thumb {
  background-color: #0f1d42;
}
::-webkit-scrollbar-thumb {
  background-color: #1c2f4d;
  height: 10px;
}
.searchMenu::-webkit-scrollbar,
.tafserBox::-webkit-scrollbar {
  width: 0px;
}
.searchMenu {
  direction: rtl;
}
.landing {
  min-height: calc(100vh - 73px);
}
.bg {
  background-image: url("../images/home/bg-quality.jpg");
  background-position: 40% 20%;
  z-index: -10;
  height: calc(100% + 80px);
}

.languageMenu .active {
  background-color: #0a1228;
}
.linkNav .hoverWhite {
  color: gray;
}
.linkNav:hover .hoverWhite {
  color: white;
}

::selection {
  color: #9c2136;
  background-color: #1f9386;
}
sup {
  color: #9c2136;
}
sup::selection {
  color: #ffffff;
}
.roundBefore {
  position: relative;
  cursor: pointer;
}

.icon {
  position: relative;
  cursor: pointer;
  padding: 2px;
  transition-duration: 1s;
}
