body {
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #0a1228;
}
::-webkit-scrollbar-thumb {
  background-color: #0f1d42;
  height: 10px;
}
.searchMenu::-webkit-scrollbar {
  width: 0px;
}
.searchMenu {
  direction: rtl;
}
.landing {
  min-height: calc(100vh - 80px);
}
.bg {
  background-image: url("./components/images/home/bg-quality.jpg");
  background-position: 40% 20%;
  z-index: -10;
  height: calc(100% + 80px);
}
